# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

PORT=3000

SENDPULSE_USER_ID=
SENDPULSE_SECRET=
SENDPULSE_FROM=
SENDPULSE_SENDER='Test email'
MAILING_LIST_ID=
